<h1>Variable 1: <%-var1 %> Sign: <%-sign %> Variable 2: <%-var2 %>   </h1>
<form method="post" id="calcValues">
    <input type="text" name="var1">
    <input type="text" name="sign">
    <input type="text" name="var2">
    <input type="submit" value="Calculate">
</form>
<div><%-result%></div>